<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bids to Pick - User Profile</title> 

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
  </head>

  <body>
  <header role="banner" id="fh5co-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:history.back()">Bids to Pick</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="navbar-brand" href="javascript:history.back()">Go Back</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

	<section id="fh5co-prof" style="background-image: url({{backPic}});">
      
        <div class="profileInfo">
            <p style="color: whitesmoke; font-size:xx-large; margin-bottom:3px;"><br></p><img src="{{profPic}}"><hr>
            <p style="color: whitesmoke; margin: 0; font-size:large;">{{fname}}</p><hr>
            <p style="color: whitesmoke; margin: 0; font-size:medium;">Email Address: {{email}}</p><hr>
            <p style="color: whitesmoke; margin: 0; font-size:medium;">Contact Number: {{pnumber}}</p><hr>
            <p style="color: whitesmoke; font-size:medium;">Rating: {{rateavg}} / 5 : Out of {{ratecount}}</p>
            <a href="/rate/{{email}}"><button class = "ratebtn">Rate User</button></a>
            <div><p></p></div>
        </div>
      
    </section>

	<section id="fh5co-explore" data-section="explore">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="animate-box">Items They've Posted</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext animate-box">
                            <h3>See the items they have posted for bidding.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fh5co-project">
            <div class="container">
                <div class="row">
					{{#each postdetails}}
						<div class="col-md-4">
							<div class="fh5co-portfolio animate-box">
								<a href="../../view/{{../email}}/{{_id}}">
									<div class="portfolio-entry" style="background-image: url(../{{imgurl}});">
									</div>
									<div class="portfolio-text text-center">
										<h3>{{itemname}}</h3>
										<ul class="stuff">
											<li>Highest Bid: {{price}}</li>
											<li>Cutoff: {{date}}</li>
										</ul>
									</div>
								</a>
							</div>
						</div>
					{{/each}}
                </div>
            </div>
        </div>
    </section>

    <div id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <h3 class="section-title">Bids to Pick.</h3>
                    <p>Bidding site for the Lasallian community. Buy, sell, meetup, and enjoy!</p>

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <p class="copy-right">
                            &copy; 2020 CCAPDEV. All Rights Reserved.
                        </p>
                    </div>
                </div>
		
  </body>
</html>
