<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Viewing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/viewstyles.css">
	<link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	
  </head>
  <body>
    <header role="banner" id="fh5co-header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Bids to Pick</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="home.html" ><span>Home</span></a></li>
                            <li><a href="profile.html"><span>Profile</span></a></li>
                            <li><a href="login.html"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </nav><nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="../../home/{{email}}">Bids to Pick</a>
                    </div>
					
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../../home/{{email}}" ><span>Home</span></a></li>
                            <li><a href="../../profile/{{email}}"><span>Profile</span></a></li>
                            <li><a href="../../login"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="grid-container" style="background-color: white">
        <div class="itemPic"><img src="
		
		
		
		
		
		"></div>

        <div class="itemInfo">
            <h2 style="text-align: center;">{{itemname}}</h2>
              <h3 style="text-align: center;">Price: {{price}}</h3>
              <h3 style="text-align: center;">{{itemdesc}}</h3>
			  <h4 style="text-align: center;">Highest Bidder: {{highbidder}}</h4>
			  
			  
              <form style="text-align: center;" method="post">
				<input type="number" name="highbid" id="highbid" placeholder="YOUR BID" step="0.01" min="{{price}}" required> 
				<input type="submit" id="submit" value="SUBMIT">
			  </form>
			  
			  
            <b style="position: relative;">Bidding lasts until {{date}}</b>
        </div>
        <div class="profile">
            <h4 style="margin-left: 20px;">Item posted by:</h4>
            <img class="profPic" src="
			
			
			
			
			
			">
            <a href="../../profile_view/{{email}}/{{emailUser}}" target="_self" title="profile.html">
            <h3 style="margin-left: 20px;">{{email}}</h3></a>
            <p style="color: black; margin-left: 20px;">Date posted: 2020-02-28</p>
        </div>
      </div>
	</body>
</html>